<% layout("layouts/boilerplate")%>
<h1>Add new Group</h1>
<div class="mt-3">
<form action="/myHomePage/<%= currentUser._id %>" method="POST" novalidate class="needs-validation">
    <div class="mb-3">
        <label class="form-label" for="groupName">Group name</label>
        <input class="form-control" type="text" name="groupName" id="groupName" placeholder="Name"
            required>
        <div class="valid-feedback">
            Looks good!
        </div>

        <div class="mt-3 mb-3">
            <% currentUser.credentials.forEach((credential,idx)=>{ %> 
                <input type="checkbox" id="credential<%=idx%>" name="addCredentials[]" value="<%-credential._id%>">
                <label for="credential<%=idx%>"><%- credential.name %></label> <br>
            <%})%>
        </div>


    </div>
    <div class="mb-3">
        <button class="btn btn-success">Create</button>
    </div>
</form>
    <a class="btn btn-danger" href="/myHomePage/<%= currentUser._id %>">Cancel</a>
</div>