<% layout("layouts/boilerplate")%>
<h1>Add new Group</h1>
<div class="mt-3">
<form action="/myHomePage/<%= currentUser._id %>/<%= currentGroup._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
    <div class="mb-3">
        <label class="form-label" for="groupName">Group name</label>
        <input class="form-control" type="text" name="groupName" id="groupName" placeholder="Name" value ="<%=currentGroup.name%>" required>
        <div class="valid-feedback">
            Looks good!
        </div>

        <div class="mt-3 mb-3">
            <% currentUser.credentials.forEach((credential,idx)=>{ %> 
                <input type="checkbox" id="credential<%=idx%>" name="editCredentials[]" value="<%-credential._id%>"
                <% if(currentGroup.credentials.includes(credential._id)){ %>
                    checked
                <%}%> >
                <label for="credential<%=idx%>"><%- credential.name %></label> <br>
            <%})%>
        </div>
    </div>
    <div class="mb-3">
        <button class="btn btn-success">Update</button>
    </div>
</form>
    <a class="btn btn-warning mb-3" href="/myHomePage/<%= currentUser._id %>">Cancel</a> <br>
    <form action="/myHomePage/<%= currentUser._id %>/<%= currentGroup._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>