<% layout("layouts/boilerplate")%>
    <h1>Name: <%= currentUser.username %> </h1>
    <h1>Email: <%= currentUser.email %> </h1>
    <div class="card mt-3">
        <h1 class=" text-secondary">Groups</h1>
        <%for(let group of currentUser.groups){%>
            <a class="mb-3 text-warning mt-3 h2" href="/myHomePage/<%= currentUser._id %>/<%=group._id%>"><%- group.name %></a>
            <% for(let credential of group.credentials){ %>
                <h3>&#9750 <%- credential.name %> </h3>
            <% } %>      
        <%}%>
        <a class="btn btn-success mt-3"href="/myHomePage/<%= currentUser._id %>/newGroup">Create new group</a>
    </div>
    <div>
        <a class="btn btn-info mt-3 w-100"href="/allCredentials/<%= currentUser._id %>">View all credentials</a>
    </div>
    <div>
        <a class="btn btn-success mt-3"href="/logout">logout</a>
    </div>